PORT=5000
SUPABASE_URL=https://lcsqaeykucimrriydfbv.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxjc3FhZXlrdWNpbXJyaXlkZmJ2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTA4MDg5NSwiZXhwIjoyMTAwNjU2ODk1fQ.D2vsgZhLtH7Lowk7kh9WGvpTy2C9ZbpdvxEDvSCtX4s
JWT_SECRET=VIP_WMS_1216_Nikhil_8975697144_SECRET_KEY
JWT_EXPIRES_IN=8h
NODE_ENV=production
UPLOAD_DIR=./uploads